@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
    font-family: "Merriweather", serif;
}
/* banner section styles starts */
.banner-container {
   max-width: 1320px;
   /* border: 2px solid red; */
   margin: 0 auto;
   margin-top: 28px;
   border-radius: 16px;
   min-height: 600px;
   background-color: rgba(0,0,0,0.4);
   background-image: url(../images/Banner\ Image.png);
   background-blend-mode: overlay;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 600px;
}
.banner-content p {
 color:white;
 font-size: 32px;
 font-weight: normal;
 
}
.banner-content h1 {
    font-size: 70px;
    font-weight: 600;
    color: white;
}
/* banner section styles ends */
/* 65%-section-container style starts here */
.second-section-container {
 max-width: 802px;
 min-height: 806px;
 /* border: 2px solid red; */
 margin: 0 auto;
 margin-top: 60px;
 
}
.second-section-content {
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center ;
}
.second-section-content h1 {
    color: rgb(255, 0, 0);
font-size: 88px;
font-weight: 700;
}
.second-section-content p {
    color: rgb(255, 0, 0);
font-size: 20px;
font-weight: 500;
margin-top: 70px;
margin-bottom: 16px;

}
.second-section-content h3 {
    color: rgb(7, 2, 17);
font-size: 40px;
font-weight: 700;
margin-bottom: 80px;
}
/* 65%-section-container style ends here */
 